
<body>
{% include header.html %}

<div class="wrap">
    <div class="container container-left">
        <div class="row">
            <div class="col-md-3 hidden-xs">
                {% include sidebar.html %}
            </div>
            <div class="col-md-9">
                {{ content }}
            </div>
        </div>
    </div>

    {% include footer.html %}
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120200144-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120200144-1');
</script>
</body>